/*--Color customisation--*/
:root {
    ---maninggi-machu: #f0f0f0;
    ---kakhalgi-machu: #dad8d8;
    ---angangba-machu: red;
    ---angouba-machu: white;
    ---amuba-machu: black;
    ---hangampal-machu: yellow;
    ---moirang-machu: #83092C;
    ---petuk-machu: #7919E4;
    ---sangbanaba-machu: #10F0FF;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(---maninggi-machu);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: 0%;
}

h2 {
    font-family: 'Noto Sans Meetei Mayek', sans-serif;
    font-size: 1.6rem;
    margin: 0%;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    margin: 0%;
}

.khuyek h2 {
    font-size: 2rem;
    font-weight: 900;
}

.kangleipakki-firan {
    width: 100%;
    height: 100vh;
    cursor: pointer;
}

.heading {
    text-align: center;
    padding: 1.5rem 5rem;
    background-color: var(---kakhalgi-machu);
    border-radius: 0 0 20px 20px;
    text-decoration: none;
}

span {
    font-weight: bold;
}

div.heading div.version p {
    text-align: center;
    padding: 0;
}

div.heading div.version p a {
    text-decoration: none;
    background-image:
        linear-gradient(90deg, rgb(0, 255, 0), rgb(255, 0, 242));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left 1.5em;
    padding-block: .30em;
    transition: background-size 0.5s;
}

div.heading div.version p a:hover {
    background-size: 100% 3px;
}

.heading p {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: justify;
}

.anisuba-wahanthok {
    padding: 1.5rem 5rem;
    background-color: var(---kakhalgi-machu);
    border-radius: 20px 20px 0 0;

}

.anisuba-wahanthok p {
    padding: 1rem 0 1.5rem;
    text-align: justify;
}


li {
    font-size: 1.5rem;
}

.firan {
    width: 100%;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
}

.ka-khal {
    max-height: 100vh;
    height: 14vh;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
    overflow: hidden;
}

.ka-khal.expanded {
    height: 100vh;
}

.mangang {
    background-color: var(---angangba-machu);
}

.luwang {
    background-color: var(---angouba-machu);
}

.khuman {
    background-color: var(---amuba-machu);
    color: var(---angouba-machu);
}

.angom {
    background-color: var(---hangampal-machu);
}

.moirang {
    background-color: var(---moirang-machu);
    position: relative;
    color: var(---angouba-machu);
}

.moirang::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #080000 20%, transparent 0%), radial-gradient(circle, #080000 20%, transparent 0%);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    opacity: 0.5;
}

.kha-nganba {
    background-color: var(---petuk-machu);
}

.salai-leisangthem {
    background-color: var(---sangbanaba-machu);
}

/* ************************************************************ */
/* mayek */
.mayek {
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: center;
    gap: .5rem;
    margin-right: 2rem;
    display: none;
}

/* ************************************************************ */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    padding-right: 0%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: .4s;
    border-radius: 5px;
    color: var(---sangbanaba-machu);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 0.1em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(---angouba-machu);
    transition: .4s;
}

input:checked+.slider {
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
}

input:checked+.slider:before {
    transform: translateX(2.8em) rotate(360deg);
}


/* **************************************************************************** */
/* wahanthok */
.wahanthok {
    display: none;
    width: 80%;
    height: fit-content;
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}

/* Specific wahanthok background colors */
.mangang-wahanthok {
    background: #dd0101;
    box-shadow: 20px 20px 60px #a80101,
        -20px -20px 60px #fd0202;
}

.wahanthok h1 {
    color: whitesmoke;
}

.wahanthok h2 {
    color: whitesmoke;
    padding: 0 0 2rem;
}

.wahanthok p {
    height: fit-content;
    text-align: justify;
    padding: 0 2rem;
    color: #f3f3f3;
}

.luwang-wahanthok {
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

div#white.wahanthok.luwang-wahanthok button.close-btn {
    color: var(---amuba-machu);
}

.luwang-wahanthok h1,
.luwang-wahanthok h2,
.luwang-wahanthok p {
    color: var(---amuba-machu);
}

.khuman-wahanthok {
    background-color: #252525;
    box-shadow: 20px 20px 60px #4b4b4b,
        -20px -20px 60px #070707;
}

.angom-wahanthok {
    background-color: #dfdf02;
    box-shadow: 20px 20px 60px #b8b801,
        -20px -20px 60px #fdfd01;
}

.angom-wahanthok h1,
.angom-wahanthok h2,
.angom-wahanthok p {
    color: var(---amuba-machu);
}

.moirang-wahanthok {
    background-color: var(---moirang-machu);
    box-shadow: 20px 20px 60px #52061b,
        -20px -20px 60px #c50f42;
}

.kha-nganba-wahanthok {
    background-color: #5d14b1;
    box-shadow: 20px 20px 60px #4f1097,
        -20px -20px 60px #851cfc;
}

.salai-leisangthem-wahanthok {
    background-color: var(---sangbanaba-machu);
    box-shadow: 20px 20px 60px #0c97a1,
        -20px -20px 60px #11edfd;
}

.salai-leisangthem-wahanthok h1,
.salai-leisangthem-wahanthok h2,
.salai-leisangthem-wahanthok p {
    color: var(---amuba-machu);
}

button {
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    margin: 1rem;
    background-color: #68f556;
    transition: .2s ease-in-out;
    font-size: 1rem;
    font-weight: bolder;
}

.ka-khal.expanded .wahanthok {
    display: block;
}

.close-btn {
    position: absolute;
    top: -2rem; /* Adjust as needed */
    right: -5rem; /* Adjust as needed */
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.pointer-icon img {
    width: 3rem;
    height: 3rem;
}

.pointer-icon {
    position: absolute;
    top: 50%;
    left: 60rem;
    /*Adjust as needed */
    transform: rotate(10deg);
    font-size: 2em;
    animation: bounce 1s infinite;
    display: none;

}

.pointer-icon.visible {
    display: block;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) rotate(20deg);
    }

    50% {
        transform: translateY(-10px) rotateX(20deg);
    }
}

div.anisuba-wahanthok div.lourakfam {
    display: inline-block;
}

div.anisuba-wahanthok div.lourakfam h2 {
    font-size: 1rem;
    text-align: start;
}

div.anisuba-wahanthok div.lourakfam p {
    padding: 0%;
    font-size: .9rem;
}

/* ********************************************************** */
/* Created by */

.credit p {
    text-align: center;
    font-size: 1.3rem;
    color: var(--light-color);
    text-transform: capitalize;
    padding: 0.5rem 0 0;
}

.credit p i,
.credit p span {
    color: var(--main-color);
    cursor: pointer;
    transition: .5s;
}

.credit p span:hover {
    color: rgb(241, 219, 14);
    transform: scale(1.5);
    transition: .5s;
}

/* *************************************************************** */
/* Mobile screen optimization */
@media screen and (max-width: 767px) {

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    p,
    .heading p,
    li {
        font-size: 0.8rem;
    }

    .heading {
        text-align: center;
        padding: 0.5rem 0.5rem;
        background-color: var(---kakhalgi-machu);
        border-radius: 0 0 20px 20px;
        text-decoration: none;
    }

    .ka-khal.expanded {
        height: 60vh;
    }

    div.pointer-icon img {
        width: 2rem;
        height: 2rem;
    }

    .pointer-icon {
        left: 15rem;

    }

    .close-btn {
        position: absolute;
    }

    .wahanthok {
        width: 90%;
    }

    .wahanthok p {
        font-size: .8rem;
        padding: .6rem;
    }

    .anisuba-wahanthok {
        padding: 0.5rem 0.5rem;
        background-color: var(---kakhalgi-machu);
        border-radius: 20px 20px 0 0;
    }

    div.anisuba-wahanthok h1 {
        padding: 0 1rem;
    }

    .anisuba-wahanthok p {
        font-size: 0.8rem;
        padding: 1rem;
    }

    div.anisuba-wahanthok div.lourakfam h2,
    div.anisuba-wahanthok div.lourakfam p {
        padding: 0 1rem;
    }

}